<%- include('header') %>
    <h1><%= title %></h1>
    <p>Welcome to "<strong><%= title %></strong>", an application to track what you eat each day.</p>
    <% if (meals.length === 0) { %>
      <p>There isn't any food logged yet. Please add food below.</p>
    <% } else { %>
      <ul>
        <!-- Loop through meals and create a list item with a link to the meal details page for each meal -->
         <% meals.forEach(meal => { %>
          <li><a href="/meals/<%= meal.id %>"><%= meal.meal %></a></li>
        <% }) %>
      </ul>
    <% } %>
    <%- include('addFood') %>
    <p>Click "Test API" to run the meals API list, find, create, update, and delete requests. Open your browser developer console to see the results.</p>
    <button id="test-api-button" type="button">Test API</button>
    <script src="/javascripts/api-calls.js"></script>
  </body>
</html>
